﻿@model WebApplication1.Models.ProductIndexViewModel

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h1>Danh sách sản phẩm</h1>
</div>
<table class="table table-striped">
    <tr>
        <td colspan="6">
            <a href="@Url.Action("ProductAdd", "Admin")"
               class="btn btn-info">
                <i class="glyphicon glyphicon-plus"></i> Thêm mới
            </a>
        </td>
    </tr>
    <tr>
        <td>Mã sản phẩm</td>
        <td>Tên sản phẩm</td>
        <td>Giá tiền</td>
        <td>Số lượng</td>
        <td>Danh mục</td>
        <td>&nbsp;</td>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.Price</td>
            <td>@product.Amount</td>
            <td>@product.Category.CategoryName</td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("ProductEdit","Admin", new { id = product.ProductId})"
                       class="btn btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="@Url.Action("ProductEdit","Admin", new { id = product.ProductId})"
                       class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    <tr>
        <td colspan="6" class="text-center">
            <nav>
                <ul class="pagination">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ProductList",
                        new
                        {
                            page = x
                        }))
                </ul>
            </nav>
        </td>
    </tr>
</table>
