﻿@model WebApplication1.Entities.Product

@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h3>Thêm mới sản phẩm</h3>
</div>
@using (Html.BeginForm("ProductAdd", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Tên sản phẩm</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.ProductName)
    </span>
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Số lượng</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", type = "number" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.Amount)
    </span>
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Đơn giá</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", type = "number" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.Price)
    </span>
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Danh mục</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.CategoryId,
                 new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"),
                 new { @class = "form-control", type = "number" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.CategoryId)
    </span>
    <div class="form-group">
        <div class="col-sm-offset-2">
            <button class="btn btn-primary">Lưu</button>
        </div>
    </div>
}
