﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--CORE Bootstrap CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">Header</div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                            Về trang chủ
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("ProductList","Admin")">
                            Danh sách sản phẩm
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" onclick="alert('Độc giả tự cài đặt'); return false">
                            Danh mục sản phẩm
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" onclick="alert('Độc giả tự cài đặt'); return false">
                            Danh mục đơn hàng
                        </a>
                    </li>
                    <li class="list-group-item">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-primary">Đăng xuất</button>
                        }
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-10">
                <!--Hiển thị thông báo-->
                @if (TempData["msg"] != null)
                {
                    <div class="alert alert-info">
                        <p>
                            @TempData["msg"]
                        </p>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Bản quyền &copy; 2017 - vanvuong2610@@gmail.com - Học viện MSITA</p>
                </div>
            </div>
        </div>

    </footer>
    <!--Javascript Library-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("js", false)
</body>
</html>

