﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--CORE Bootstrap CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">Header</div>
                </div>
            </div>
        </div>        
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                @{ 
                    Html.RenderAction("Navigation", "Product");
                }
            </div>
            <div class="col-xs-12 col-md-10">   
                @{Html.RenderAction("SummaryCart", "Cart");}
                             
                @RenderBody()
            </div>
        </div>        
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Bản quyền &copy; 2017 - vanvuong2610@@gmail.com - Học viện MSITA</p>
                </div>
            </div>
        </div>          
    </footer>
    <!--Javascript Library-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("js", false)
</body>
</html>

