﻿@model WebApplication1.Entities.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="page-header">
    <h1>
        Chi tiết sản phẩm: @Model.ProductName
    </h1>    
</div>
<ul>
    <li>Mã sản phẩm: @Model.ProductId</li>
    <li>Đơn giá: @Model.Price</li>
    <li>Tình trạng: @(Model.Amount > 0 ? "Còn hàng" : "Hết hàng")</li>
    <li>Danh mục: @Model.Category.CategoryName</li>
</ul>

