﻿@model WebApplication1.Models.ProductIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="page-header">
    <h1>Danh sách sản phẩm</h1>
</div>
<table class="table table-striped">
    <tr>
        <td>Mã sản phẩm</td>
        <td>Tên sản phẩm</td>
        <td>Giá tiền</td>
        <td>Danh mục</td>
        <td>&nbsp;</td>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.Price</td>
            <td>@product.Category.CategoryName</td>
            <td>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <a href="@Url.Action("Detail","Product", new { productId = product.ProductId })"
                           class="btn btn-primary">
                            <i class="glyphicon glyphicon-search"></i>
                            Chi tiết
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "frmAddToCart" }))
                        {
                            <input name="ProductId" value="@product.ProductId" type="hidden" />
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn btn-danger">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                Thêm vào giỏ hàng
                            </button>
                        }
                    </div>
                </div>                               
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" class="text-center"> 
            <nav>
                <ul class="pagination">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",
                        new
                        {
                            page = x,
                            categoryId = Model.CurrentCategory
                        }))
                </ul>
            </nav>
        </td>
    </tr>
</table>

