﻿@model List<WebApplication1.Entities.Category>

<ul class="list-group list-group-item-success">
    <li class="list-group-item">
        <a href="@Url.Action("Index", "Product")">
            Tất cả
        </a>
    </li>
    @foreach(var category in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", "Product", new { categoryId = category.CategoryId})">
                @category.CategoryName
            </a>
        </li>
    }
</ul>

