﻿@model WebApplication1.Models.CartIndexViewModel
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th align="center">Số lượng</th>
            <th align="left">Sản phẩm</th>
            <th align="right">Giá tiền</th>
            <th align="right">Thành tiền</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td align="center" class="col-md-2">
                    @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post, new { @class = "form-inline frmUpdateCart" }))
                    {
                        <input type="hidden" name="ProductID" value="@line.Product.ProductId" />
                        <div class="input-group">
                            <input class="form-control" name="Quantity" id="Quantity" value="@line.Quantity" type="number">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Cập nhật</button>
                            </span>
                        </div>
                    }              
                </td>
                <td align="left">@line.Product.ProductName</td>
                <td align="right">@line.Product.Price.ToString("c")</td>
                <td align="right">
                    @((line.Quantity
                    * line.Product.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductId)
                        @Html.Hidden("returnUrl", Model.ReturnUrl)
                        <button type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    }                    
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" align="right">Tổng tiền:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
