﻿@model WebApplication1.Entities.ShippingDetails
@{
    ViewBag.Title = "Shopping Cart: Checkout";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h3 class="page-header">
    Thông tin khách hàng
</h3>
@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Họ tên</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.Name)
    </span>
    <div class="form-group">
        <label for="Line1" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
            
        </div>
    </div>
    
    <div class="form-group">
        <label for="City" class="col-sm-2 control-label">Thành phố</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.City)
    </span>
    <div class="form-group">
        <label for="State" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.Email)
    </span>
    <div class="form-group">
        <label for="State" class="col-sm-2 control-label">Điện thoại</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </span>
    <div class="form-group">
        <label for="Country" class="col-sm-2 control-label">Gói quà?</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(x => x.GiftWrap)
        </div>
    </div>
    <span id="helpBlock" class="help-block">
        @Html.ValidationMessageFor(x => x.GiftWrap)
    </span>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Chấp nhận</button>
        </div>
    </div>
}

@section js{
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
}