﻿

@{
    ViewBag.Title = "Shopping Cart: Checkout";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="page-header">
    <h3>Đặt hàng thành công</h3>    
</div>
<p>
    Cảm ơn Quý khách đã đặt hàng, vui lòng mở hộp mail để kiểm tra lại thông tin.
</p>
<a href="/" class="btn btn-primary">Quay về trang chủ</a>

