﻿@model WebApplication1.Models.CartIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h3 class="page-header">
    Thông tin đơn hàng
</h3>
<div id="cart-content">
    @{Html.RenderPartial("CartContent", Model);}
</div>
<nav>
    <ul class="pager">
        <li><a href="@Model.ReturnUrl">Tiếp tục mua hàng</a></li>
        <li>
            @Html.ActionLink("Thanh toán", "Checkout", "Cart")
        </li>
    </ul>
</nav>

@section js{
<script>
    $(document).on('submit','.frmUpdateCart', function (e) {            
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url: '/Cart/UpdateQuantity',
                    data: $(this).serialize(),
                    success: function (data) {
                        alert('Cập nhật thành công');
                    }
                });
        });
</script>
}
