﻿@model WebApplication1.Entities.Cart

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" style="line-height:50px">
            <a class="navbar-brand" href="#">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </a>
            Total: @Model.Lines.Count() item(s) | @Model.ComputeTotalValue().ToString("c")
            @using (Html.BeginForm("Index", "Cart", FormMethod.Post))
            {
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <button class="btn btn-primary" type="submit">Checkout</button>
            }
        </div>
    </div>
</nav>

